{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chart JS</title>
<link rel="stylesheet" href="{%static "css/main.css"%}">
<script src="{%static "js/Chart.bundle.js"%}"></script>
</head>

<body>
<h3></h3>
<div id="chartjs1">
  <canvas id="chart1" width="400px" height="400px"></canvas>
</div>
<script>
  var ctx = document.getElementById('chart1').getContext('2d');
  myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["VW01", "VW02", "VW03"],
      datasets: [{
        label: 'Credit Grade vs Loan Volume',
        data: [{{ webdata.0.grade_a.1 }}, {{ webdata.0.grade_b.1 }}, {{ webdata.0.grade_c.1 }},
               {{ webdata.0.grade_d.1 }}, {{ webdata.0.grade_e.1 }}],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)'
        ],
        boderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxis: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>
</body>
<html>
